#nav .menus_items {
  /* display: inline; 这个带不带都可以，本来就是inline */
  position: absolute;
  width: fit-content;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

#nav .menus_items .menus_item {
  padding: 0 14px 0 14px;
  font-size: 25px;
  font-weight: bold;
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -92px;
}

.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -57px;
}

.menus_items .menus_item:nth-child(4) .menus_item_child {
  left: -33px;
}

/* 底部时间显示 */
div#runtime {
  width: fit-content;
  color: black;
  font-weight: 600;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

[data-theme="dark"] div#runtime {
  color: #28b4c8;
  box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
  animation: flashlight 1s linear infinite alternate;
}

@-moz-keyframes flashlight {
  from {
    box-shadow: 0 0 5px #1478d2;
  }
  to {
    box-shadow: 0 0 2px #1478d2;
  }
}

@-webkit-keyframes flashlight {
  from {
    box-shadow: 0 0 5px #1478d2;
  }
  to {
    box-shadow: 0 0 2px #1478d2;
  }
}

@-o-keyframes flashlight {
  from {
    box-shadow: 0 0 5px #1478d2;
  }
  to {
    box-shadow: 0 0 2px #1478d2;
  }
}

@keyframes flashlight {
  from {
    box-shadow: 0 0 5px #1478d2;
  }
  to {
    box-shadow: 0 0 2px #1478d2;
  }
}

#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* 标签 */

#aside-content .card-tag-cloud a {
  border: 1px solid;
  line-height: 1.5;
  border-radius: 6px;
  margin: 3px;
  padding: 0 5px;
}

.tag-cloud-list a {
  border: 1px solid;
  line-height: 1.5;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1.2rem;
  margin: 5px;
}

#recent-posts > .recent-post-item .post_cover img.post_bg {
  border-radius: 10px;
}

#aside-content .aside-list > .aside-list-item .thumbnail > img {
  border-radius: 10px;
}

#category .article-sort-item-img {
  border-radius: 10px;
}

div#archive .article-sort-item-img img {
  border-radius: 10px;
}

.article-sort-item-img img {
  border-radius: 10px;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.2);
}
/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.2) !important;
}
/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.3);
}
/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.3);
}
/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.3);
}
/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.3);
}
/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.3);
}

#page-header.not-top-img #nav {
  background: rgba(255, 255, 255, 0.2);
}

#nav #search-button {
  position: absolute;
  right: 120px;
  top: 4px;
  font-size: 25px;
  font-weight: 600;
}
